server:
  port: 8080

logging:
  level:
    root: ${LOGGING_LEVEL:info}
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: INFO
            repository:
                query: INFO
    "[com.totem.food]": ${APP_LOGGING_LEVEL:debug}
    "[org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping]": ${SHOW_ENDPOINTS_LOGGING_LEVEL:info}
  pattern:
    level: "%clr(${LOG_LEVEL_PATTERN: [%X{x-request-id}] [%X{x-environment-id}] [%X{x-customer-id}] -%5p})"

spring:
  jackson:
    default-property-inclusion: non_null
  data:
    mongodb:
      host: localhost
      port: 27017
      database: totem-food
      username: root
      password: qwe123
      authentication-database: admin

payment:
  url: ${PAYMENT_GATEWAY_URL:https://api.mercadopago.com}
  callback: ${PAYMENT_CALLBACK_URL:https://composed-firefly-willingly.ngrok-free.app/v1/totem/payment/callback}
  store_id: ${STORE_ID:}
  store_user_id: ${STORE_USER_ID:}
  store_token_id: ${STORE_TOKEN:}

mail:
  smtp:
    host: ${SMTP_HOST:localhost}
    port: ${SMTP_PORT:1025}
    username: ${SMTP_USERNAME:username}
    password: ${SMTP_PASSWORD:password}
    auth: ${SMTP_AUTH_ENABLED:false}
    tls: ${SMTP_TLS_ENABLED:false}
    email: ${SMTP_EMAIL:contato@totem.food.service.com.br}

app:
  version: ^project.version^
  name: ^project.name^
  description: ^project.description^


cognito:
  userPool:
    id: ${COGNITO_USER_POOL_ID:}
    clientId: ${COGNITO_CLIENT_ID:}
    clientSecret: ${COGNITO_CLIENT_SECRET:}